div(class='container')
       ul
        for link in links
          div(id=link.id class='row well')
            div(class='voting col-xs-1 col-md-1')
              button(class="vote")
                span(class='arrow glyphicon glyphicon-arrow-up' aria-hidden='true')
              h4(class='text-center') #{link.ranking}
              button(class="vote")
                span(class='arrow glyphicon glyphicon-arrow-down' aria-hidden='true')
            div(class='col-xs-8 col-md-10')
              h3
                a(href=link.url) #{link.url}
              p Created by #{link.sender} on #{link.date}
              if isLoggedIn
                button(type='button' id=link.id class='deletePost btn btn-primary btn-sm') Delete
       script( id='template' type='text/x-handlebars-template').
          <ul>
          {{#each links}}
            <div id={{id}} class='row well'>
                <div class='voting col-xs-1 col-md-1'>
                  <button class="vote"><span class='arrow glyphicon glyphicon-arrow-up' aria-hidden='true'></span></button>
                  <h4 class='text-center'>{{ranking}}</h4>
                  <button class="vote"><span class='arrow glyphicon glyphicon-arrow-down' aria-hidden='true'></span></button>
                </div>
                <div class='col-xs-8 col-md-10'>
                  <h3>
                    <a href={{url}}>{{url}}</a>
                  </h3>
                  <p>Created by {{sender}} on {{date}}</p>
                  <button type='button' id={{id}} class='deletePost btn btn-primary btn-sm'>Delete</button>
                </div>
            </div>
          {{/each}}
          </ul>
		  